<header>
  <div class="text-center">
    <img id="finish" src="/assets/finish.png" />
  </div>
</header>

<div class="row">
  <div class="col">
    <div class="center-wrapper text-center">
      <h1><strong>{{race.time | raceTime}}</strong></h1>
      <p>CONGRATULATIONS <strong>{{race.player}}</strong>! YOU PLACED <strong>{{position | ordinal}}</strong>.</p>
    </div>
  </div>
</div>

<footer>
  <div class="text-center">
    <button type="button" class="btn btn-secondary" routerLink="/high-scores">HIGH SCORES</button>
  </div>
</footer>
