<header>
  <div class="text-center">
    <h1>Synapticon RoboRacing</h1>
    <h2><strong>HIGHSCORES</strong></h2>
  </div>
</header>

<div class="row">
  <div class="col">
    <div class="center-wrapper">
      <table class="table table-highscores text-left">
        <thead>
          <tr>
            <th>RANK</th>
            <th>PLAYER</th>
            <th class="text-right">TIME</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let race of races; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{race.player}}</td>
            <td class="text-right race-time">{{race.time | raceTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer>
  <div class="text-center">
    <button type="button" class="btn btn-primary btn-lg" routerLink="/new-race">NEW RACE</button>
  </div>
</footer>
