<header>
  <div class="text-center">
    <h1><strong>{{race.player}}</strong></h1>
  </div>
</header>

<div class="row">
  <div class="col">
    <div class="center-wrapper text-center">
      <h1 class="race-time">{{race.time | raceTime}}</h1>
      <hr />
      <h4 *ngIf="bestTime">
        TIME TO BEAT <span>{{bestTime | raceTime}}</span>
      </h4>
    </div>
  </div>
</div>

<footer>
  <div class="text-center">
    <button type="button" class="btn btn-secondary" routerLink="/high-scores">ABORT</button>
    <button type="button" class="btn btn-warning hidden" routerLink="/finish">FINISH</button>
  </div>
</footer>
