<header>
  <div class="text-center">
    <h1><strong>{{race.player}}</strong><br/>START WHEN YOU ARE READY</h1>
  </div>
</header>

<div class="row">
  <div class="col">
    <div class="center-wrapper text-center">
      <h4>DRIVE THROUGH THE START LINE TO BEGIN</h4>
    </div>
  </div>
</div>

<footer>
  <div class="text-center">
    <button type="button" class="btn btn-secondary" routerLink="/high-scores">ABORT</button>
    <button type="button" class="btn btn-primary hidden" routerLink="/race">RACE</button>
  </div>
</footer>
