<ul id="nav-app" class="nav flex-column text-right hidden">
  <li><a routerLink="/">App</a></li>
  <li><a routerLink="/high-scores">HighScores</a></li>
  <li><a routerLink="/new-race">New Race</a></li>
  <li><a routerLink="/countdown">Countdown</a></li>
  <li><a routerLink="/race">Race</a></li>
  <li><a routerLink="/finish">Finish</a></li>
  <li><a routerLink="/ws">WebSocket</a></li>
  <li>*<a href="javascript:void(0)" (click)="raceService.clearRaces()">Clear races from localStorage</a></li>
</ul>

<img src="assets\synapticon_logo.svg" alt="Logo" width=40% >

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
