<header>
  <div class="text-center">
    <img id="break" src="/assets/break.svg" />
  </div>
</header>

<div class="row">
  <div class="col">
    <div class="center-wrapper text-center">
      <form (ngSubmit)="onSubmit()" #formCtrl="ngForm">
        <div class="form-group">
          <label for="player">ENTER YOUR NAME</label>
          <input type="text" class="form-control" name="player" id="player" [(uppercase)]='race.player' required appAutofocus />
        </div>
        <button type="submit" class="btn btn-lg btn-primary" [disabled]="!formCtrl.form.valid">START</button>
      </form>
    </div>
  </div>
</div>

<footer>
  <div class="text-center">
    <button type="button" class="btn btn-secondary" routerLink="/high-scores">CANCEL</button>
  </div>
</footer>
