<header>
  <div class="text-center">
    <h1>Synapticon RoboRacing</h1>
  </div>
</header>

<div class="row">
  <div class="col">
    <div class="center-wrapper text-center">
      <p>Get ready {{race.player}}...</p>
      <h1 *ngIf="countdown > 0; else goBlock">
        {{countdown}}
      </h1>
      <ng-template #goBlock>
        <h1>
          GO!
        </h1>
      </ng-template>
    </div>
  </div>
</div>

<footer>
  <div class="text-center">
    <button type="button" class="btn btn-secondary" routerLink="/high-scores">ABORT</button>
  </div>
</footer>
