/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";
@import "./assets/bootstrap.css";
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("assets/fonts/Helvetica-Neue-LT-Std-45-Light.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("assets/fonts/Helvetica-Neue-LT-Std-65-Medium.woff") format("woff");
  font-weight: 700;
}

body {
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  padding: 3rem 1.5rem;
}

footer {
  margin-top: 2rem;
}

.hidden {
  display: none;
}

#logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 32%;
}

#break {
  width: 22%;
}

.race-time {
  font-family:  Courier New, Courier, monospace;
  font-weight: bold;
}

.center-wrapper {
  padding: 0 15%;
}
