/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

header {
  padding: 3rem 1.5rem;
}

footer {
  margin-top: 2rem;
}

h1 {
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.race-time {
  font-family:  HelveticaNeueLTPro, sans-serif;
  font-weight: bold;
}

.center-wrapper {
  padding: 0 15%;
}
